@font-face {
  font-family: 'Montserrat-Regular';
  src: url('../fonts/Montserrat-Regular.ttf');
}

@font-face {
  font-family: 'Montserrat-Light';
  src: url('../fonts/Montserrat-Light.ttf');
}

* {
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Montserrat-Regular';
}

.container {
  padding: 350px;
  padding-top: 0;
  padding-bottom: 20px;
}

.header {
  text-align: center;
}

.header__text {
  color: #443d66;
  font-family: 'Montserrat-Light';
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.frame {
  overflow: hidden;
}

.input__wrapper {
  width: 100%;
  position: relative;
  margin: 15px 0;
  text-align: center;
}
 
.input__file {
  opacity: 0;
  visibility: hidden;
  position: absolute;
}
 
.input__file-icon-wrapper {
  height: 60px;
  width: 60px;
  margin-right: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-right: 1px solid #fff;
}
 
.input__file-button-text {
  line-height: 1;
  margin-top: 1px;
}
 
.input__file-button {
  width: 100%;
  max-width: 240px;
  height: 60px;
  background: #443d66;
  color: #fff;
  font-size: 1.125rem;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  border-radius: 3px;
  cursor: pointer;
  margin: 0 auto;
}

.image {
  max-width: 100%;
}

.settings__blocks {
  width: 100%;
}

.settings__list {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: space-around;
  margin: 0;
  padding: 0;
  margin-top: 50px;
}

.settings__item {
  border-bottom: #443d66 solid 2px;
  width: 100%;
  height: 100%;
  padding: 10px;
  text-align: center;
  font-weight: 800;
  transition: background-color .5s ease-in-out;
  position: relative;
}

.settings__item:hover {
  background-color: #443d66;
}

.settings__link {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transition: color .5s ease-in-out;
}

.settings__link:hover {
  color: #fff;
  cursor: pointer;
}

.active__item {
  background-color: #443d66;
}

.active__link {
  color: #fff;
  cursor: pointer;
}

.settings__item:not(:last-child) {
  margin-right: 10px;
}

.settings__header {
  text-align: center;
  color: #443d66;
}

.save__reset__list {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: space-evenly;
  margin: 0;
  padding: 0;
  margin-top: 50px;
}

.save__reset__item {
  border: #443d66 solid 1px;
  border-radius: 10px;
  width: 20%;
  height: 100%;
  padding: 10px;
  text-align: center;
  font-weight: 800;
  transition: background-color .5s ease-in-out;
  position: relative;
}

.save__reset__item:hover {
  background-color: #443d66;
}

.save__reset__link {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transition: color .5s ease-in-out;
}

.save__reset__link:hover {
  color: #fff;
  cursor: pointer;
}

.range__block {
  display: flex;
  align-items: center;
  margin-left: auto;
  justify-content: center;
}

.range__input:hover {
  cursor: pointer;
}

.icon__minus {
  background-image: url('../img/icon-zoom-minus.png');
  width: 20px;
  height: 20px;
  background-position: center;
  background-repeat: no-repeat;
  background-clip: border-box;
  background-size: contain;
  margin-right: 10px;
}

.icon__minus:hover {
  cursor: pointer;
}

.icon__plus {
  background-image: url('../img/icon-zoom-plus.png');
  width: 20px;
  height: 20px;
  background-position: center;
  background-repeat: no-repeat;
  background-clip: border-box;
  background-size: contain;
}

.icon__plus:hover {
  cursor: pointer;
}

input[type=range]  {
  width: 600px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: 1px solid gray;
  overflow: hidden;
  height: 7px;
  margin-right: 10px;
}

input[type=range]::-webkit-slider-runnable-track {
  height: 7px;
  background-color: #fff;
}

input[type=range]::-webkit-slider-thumb {
  background: #4b94bf;
  cursor: pointer;
  width:15px;
  height: 15px;
  -webkit-appearance: none;
  margin-top: -4px;
  box-shadow: -400px  0 0 400px  #23507c;
}

.zoom__rotates, .blur__rotates, .brightness__rotates, .contrast__rotates {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}

.zoom__rotates_item, .blur__rotates_item, .brightness__rotates_item, .contrast__rotates_item {
  height: 50px;
  transition: transform .5s ease-in-out ;
}

.brightness__rotates_item, .blur__rotates_item, .contrast__rotates_item {
  position: relative;
}

.blur__rotates_item:hover, .brightness__rotates_item:hover, .contrast__rotates_item:hover {
  transform: scaleX(1.2);
}

.rotate__left:hover {
  transform: rotate(-30deg);
}

.rotate__right:hover {
  transform: rotate(30deg);
}

.flip__horizontal:hover {
  transform: skewY(180deg);
}

.flip__vertical:hover {
  transform: skewX(180deg);
}

.rotate__left::before {
  content: '';
  display: block;
  background-image: url('../img/icon-rotate-left.png');
  background-size: 100%;
  width: 30px;
  height: 30px;
  margin-left: auto;
  margin-right: auto;
}

.rotate__right::before {
  content: '';
  display: block;
  background-image: url('../img/icon-rotate-right.png');
  background-size: 100%;
  width: 30px;
  height: 30px;
  margin-left: auto;
  margin-right: auto;
}

.flip__horizontal::before {
  content: '';
  display: block;
  background-image: url('../img/icon-flop.png');
  background-size: 100%;
  width: 30px;
  height: 30px;
  margin-left: auto;
  margin-right: auto;
}

.flip__vertical::before {
  content: '';
  display: block;
  background-image: url('../img/icon-flip.png');
  background-size: 100%;
  width: 30px;
  height: 30px;
  margin-left: auto;
  margin-right: auto;
}

.blur__rotates_item:after, .brightness__rotates_item:after, .contrast__rotates_item:after {
  content: '';
  display: block;
  position: absolute;
  background-image: url('../img/line.svg');
  background-size: 100%;
  width: 40px;
  height: 20px;
  top: 10px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.hidden {
  display: none;
}


